



<%= form_for([@wishlist, @wishlist.create]) do |f| %>
<h1> New Wishlist </h1>
  <p>
    <%= f.label "Wishlist name" %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
